PORT=4000
MONGO_URI=mongodb://127.0.0.1:27017/nestiq
JWT_ACCESS_SECRET=replace_with_a_long_random_access_secret
JWT_REFRESH_SECRET=replace_with_a_long_random_refresh_secret
CLIENT_URL=http://localhost:5173
NODE_ENV=development

CLOUDINARY_CLOUD_NAME=dbcu5rhvy
CLOUDINARY_API_KEY=934127377773555
CLOUDINARY_API_SECRET=Z8UXlIuAJNE-aPv57yaPA_ql7hY

